@{
    ViewBag.Title = "Home Page";
}
<style>
    .container-link{
        margin: 100px 10px 100px 10px;
        font-size: 24px;
        font-weight: 600;
    }
</style>
<div class="container-link">
    @Html.ActionLink("CRUD Empleados", "Index","Employees")
</div>